@import "tailwindcss";

html,
body {
  background-color: #f9fafb; /* or white */
  overscroll-behavior: none; /* prevent overscroll glow on some browsers */
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
